frontend/node_modules
frontend/.cache
frontend/build
frontend/.env
frontend/.yarn/install-state.gz

env/

*.pyc

**/__pycache__/
**/migrations/
db.sqlite3
/env
*.env
.vscode
.venv

**/.ruff_cache/

.polybot_mission_db_cli.py_hist

backend/staticfiles/*
