argcomplete
django
django-colorfield
django-cors-headers
django-environ
djangorestframework
gunicorn
pre-commit
psycopg2-binary
pyreadline3; platform_system == 'Windows'
ruff==0.9.3
whitenoise
dj-rest-auth==7.*
